<app-navbar></app-navbar>
<dix fxLayout="column" fxFill >
<div fxLayout="row" fxLayoutAlign="center" style="margin-top: 5%;">
  <div>
    <img  style="filter: drop-shadow(12px 4px 10px black); transform: scale(0.8)" [src]="game.cover">
  </div>
</div>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card style="width: 65%; text-align: center;">
      <h1 style="font-size: 3em;">{{game.gameName}}</h1>
      <h2>{{game.description}}</h2>
      <app-carousel [contentList]="contentList"></app-carousel>
    </mat-card>
  </div>
</dix>
