/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #F7EDE2
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-display: row;
  width: 100%;
}

.column {
  display: flex;
  flex-display: column;
}

.row-centered {
  display: flex;
  flex-display: row;
  width: 100%;
  justify-content: center;
}

.column-centered {
  display: flex;
  flex-display: column;
  justify-content: center;
}

.padding-10 {
  padding: 10px;
}

.footer-text {
  align-items: center;
  font-size: large; 
}

.footer {
  height: 100px;
}