<div fxLayout="row" fxLayoutAlign="center center" class="footer">
<div fxLayout="row" fxLayoutAlign="space-evenly" style="max-width: 65%; width:65%;">


<div fxLayout="column" fxFlex="25">
    <h1>Test</h1>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
</div>

<div fxLayout="column" fxFlex="25">
    <h1>Test</h1>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
</div>

<div fxLayout="column" fxFlex="25">
    <h1>Test</h1>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
</div>

<div fxLayout="column" fxFlex="25">
    <h1>Test</h1>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
    <button mat-button>Above</button>
</div>


</div>
</div>
